body {
    background-color: #fff;
}

h1 {
    margin: 0px;
    padding: 0px;
}

.conteiner {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;

}



/* 
Стили списка
 */

.list-style {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* 
Стили ссылок 
*/

.link-style {
    text-decoration: none;
}

/* 
Навигация и лого
 */

.logo {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;

}

.logo-link {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #555252;
}

.logo-m {
    color: #1abc9c;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 30px;



}

.navigation-list {
    display: flex;
    margin-left: auto;

}

.navigation-item {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    margin-right: 34px;

}

.navigation-item:nth-last-child(1) {
    margin-right: 0px;
}

.nav-link {
    color: #0f0101;
}

.nav-link:hover,
.nav-link:focus {
    color: #1abc9c;
}

/* 
Секция FEATURED PRODUCTS
*/

.title {

    font-family: "Roboto", sans-serif;
    font-size: 48px;
    letter-spacing: -0.02em;
    font-weight: 900;
    text-transform: uppercase;


    color: #515151;
    margin-bottom: 120px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

}

/* 
Контейнер для дива в  секции товара
 */

.products {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}


/* 
Список Товаров 
 */
.products-liste {
    display: flex;
    flex-wrap: wrap;

}


.products-item {
    margin-right: 30px;
    margin-bottom: 30px;

}


.products-item:nth-child(4n) {
    margin-right: 0px;
}

.products-item:nth-child(n+5) {
    margin-bottom: 0px;
}

.link-products-item {
    display: flex;
    flex-direction: column;

}


/*
 HOVER-FOCUS PRODUCTS
  */

.products-item:hover .wrapper-name-products,
.products-item:focus .wrapper-name-products {
    background-color: #1abc9c;

}

.products-item:hover .cost,
.products-item:focus .cost {
    background-color: #7fd9c7;

}


/* 
Имя товара и цена
 */

.wrapper-name-products {
    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: #323232;

}


.name-products {
    padding: 14px 0px 14px 14px;

    text-decoration: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;

    color: #fff;


}


.cost {
    padding: 14px;

    text-decoration: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    background-color: #8c8c8c;


}

/*
 Секция с новостями
  */
.flex-position {
    display: flex;




}

.block-news {
    display: flex;
    flex-direction: column;

    margin-right: 30px;
    margin-bottom: 15px;
}


.colum-flex {
    display: flex;
    flex-wrap: wrap;

}



/* Оформление текста */
.img-blogs {
    margin-bottom: 20px;
}

.colum-flex h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 23px;

    padding: 0px;
    margin-top: 0px;
    margin-bottom: 50px;

    color: #555252;
}

.preview {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;

    letter-spacing: -0.02em;
    line-height: 23px;

    color: #555252;

    margin-top: 0px;
    margin-bottom: 20px;

}

.button {

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
    background-color: #4ec6ab;
    color: #fff;


    width: 160px;
    height: 50px;

    margin: 0px;

    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;

    letter-spacing: -0.02em;
    line-height: 26px;
}

.button:hover,
.button:focus {
    background-color: #17a186;

}

.block-news:hover .button,
.block-news:focus .button {
    background-color: #17a186;

}